* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.main-content, .initial-content, .quiz-content, .end-game-screen{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}

.initial-content 

.main-content h2, .main-content p {
    text-align: center;
}

.btn {
    justify-content: center;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0px auto;
    /* font-weight: bold; */
    background-color: rgb(45, 112, 255);
    color: white;
}

.hidden {
    display: none;
}

.answer-container {
    flex: 1;
    padding: 0px;
}

.answer-btn {
    margin: 4px;
    color: white;
    flex: 1 100%;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.correct-alert {
    flex: 1 100%;
    text-align: left;
    font-weight: bold;
}

.end-game-screen h1, .end-game-screen p, .end-game-screen form {
    flex: 1 100%;
    text-align: center;
}