* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.main-content, .initial-content, .quiz-content{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}

.initial-content 

.main-content h2, .main-content p {
    text-align: center;
}

.btn {
    justify-content: center;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0px auto;
    /* font-weight: bold; */
    background-color: rgb(45, 112, 255);
    color: white;
}